* {
	box-sizing: border-box;
}

html {
	--aspect-ratio-transformer: 1vw;
	font-size: calc(2 * var(--aspect-ratio-transformer));
}

$aspect-ratio-width: 16;
$aspect-ratio-height: 9;

@media (min-aspect-ratio: #{$aspect-ratio-width}/#{$aspect-ratio-height}) {
	html {
		--aspect-ratio-transformer: calc(1vh * #{$aspect-ratio-width} / #{$aspect-ratio-height});
	}
}

body {
	margin: 0;
	padding: 0;
}

input,
textarea,
button {
	outline: none;
}

button {
	cursor: pointer;
}

.slideshow-container {

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

}

.slideshow {

	position: relative;

	margin: 0 auto;
	padding: 0;

	width: 100vw;
	height: calc(100vw * #{$aspect-ratio-height} / #{$aspect-ratio-width});

	@media (min-aspect-ratio: #{$aspect-ratio-width}/#{$aspect-ratio-height}) {
		width: calc(100vh * #{$aspect-ratio-width} / #{$aspect-ratio-height});
		height: 100vh;
	}

}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	overflow: hidden;
}

.control-buttons {
	z-index: 1000;

	$inner-padding: 1em;
	$outer-padding: 1em;

	.previous-slide-button,
	.next-slide-button {
		position: fixed;
		top: 0;
		bottom: 0;
		padding: 0 $inner-padding;
	}

	.previous-slide-button {
		left: 0;
		@if ($inner-padding != $outer-padding) {
			padding-right: $outer-padding;
		}
	}

	.next-slide-button {
		right: 0;
		@if ($inner-padding != $outer-padding) {
			padding-left: $outer-padding;
		}
	}

	.fullscreen-button {
		position: fixed;
		right: 0.5em;
		bottom: 0.5em;
	}
}
